/* line 4, ../sass/mytheming.scss */
.page-admin-reviews- #views-exposed-form-admin-reviews--page .views-exposed-form .views-widget-filter-date_filter {
  width: 50%;
}
/* line 6, ../sass/mytheming.scss */
.page-admin-reviews- #views-exposed-form-admin-reviews--page .views-exposed-form .views-widget-filter-date_filter #edit-date-filter-min-wrapper {
  float: left;
}
/* line 9, ../sass/mytheming.scss */
.page-admin-reviews- #views-exposed-form-admin-reviews--page .views-exposed-form .views-widget-filter-date_filter #edit-date-filter-max-wrapper {
  float: right;
}
/* line 13, ../sass/mytheming.scss */
.page-admin-reviews- #views-exposed-form-admin-reviews--page .views-exposed-form .views-widget-filter-date_filter #edit-date-filter-min-wrapper label, .page-admin-reviews- #views-exposed-form-admin-reviews--page .views-exposed-form .views-widget-filter-date_filter #edit-date-filter-max-wrapper label {
  float: left;
  margin-right: 5px;
}
